.App {
  font-family: sans-serif;
  text-align: center;
}
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;

}
a {
  padding: 10px;
}
header {
  display: flex;
  align-content: center;
  background-color: blueviolet;
}
img {
  height: 100px;
  width: 100px;
  display: flex;
  padding: 20px 0px 0px 20px;
}
.form-meme {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.meme-img {
  width: 400px;
  height: 200px;
}
.top {
  position: absolute;
  top: 8px;
  left: 160px;
  color:antiquewhite;
}
.bottom {
  position: absolute;
  bottom: 8px;
  left: 160px;
  color: antiquewhite;
}
.meme {
  position: relative;
}
.mainDiv {
  display: flex;
  align-items: center;
  flex-direction: column;
}
input {
  margin: 10px;
}
